@media screen and (min-width: 769px) {
    .options{
        display: none;
    }
}

@media screen and (max-width: 768px){
    #navbar .navitem .bar{
        display: inline-block;
        margin-right: 5px;
    }

    #navbar .navitem .nav{
        display: none;
    }

    #contentpart .container .part{
        width: 100%;
    }

    #contentpart .container .content{
        width: 100%;
    }

    #contentpart .container p{
        font-size: 30px;
    }

    #contentpart .container .subject{
        font-size: 18px;
    }
}

@media screen and (max-width:479px){

}