body{
    background: var(--primary_color);
}

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --primary_color: #230945;
    --secondary_color: #09020C;
    --font_color: #fff;
    --primary_font: 'Outfit', sans-serif;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

a{
    display: inline-block;
    text-decoration: none;
}

body{
    background: #553a63;
}

/******** navbar css *********/

#navbar .container{
    margin-top: 20px;
    background: var(--secondary_color);
    opacity: 70%;
    border-radius: 15px;
    position: relative;
}

#navbar .container .logo{
    width: 30%;
    text-align: left;
    vertical-align: middle;
    padding: 22px;
}

#navbar .navitem{
    width: 70%;
    text-align: right;
    padding: 25px;
}

#navbar .logo a{
    font-weight: 700;
    color: var(--font_color);
    font-size: 25px;
    font-family: var(--primary_font);
}

#navbar .navitem .nav{
    position: relative;
}

#navbar .navitem .bar{
    display: none;
}

#navbar .item{
    color: var(--font_color);
    margin-left: 22px;
    font-size: 22px;
    font-family: var(--primary_font);
    font-weight: 800;
}


#navbar .navitem .nav:after{
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: 0px;
    left: 0px;
    background: var(--font_color);
}

#navbar .navitem .nav:hover::after{
    width: 100%;
    transition: 0.8s;
    background: var(--font_color);
}

/*********** option css **********/


.options.active{
    display: none;
}

.options .container{
    background: var(--secondary_color);
    opacity: 70%;
    padding: 20px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.options .container .hover{
    font-family: var(--primary_font);
    color: var(--font_color);
    font-size: 19px;
    font-weight: 800;
    position: relative;
}

.options .container .hover:after{
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: 0px;
    left: 0px;
    background: var(--font_color);
}

.options .container .option:hover .hover::after{
    width: 100%;
    transition: 0.8s;
    background: var(--font_color);
}


/********** content css ***********/


#contentpart{
    margin-top: 30px;
}
#contentpart .flex-container{
    justify-content: space-between;
    flex-wrap: wrap;
}

#contentpart .container .part{
    width: 49%;
    border-radius: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#contentpart .container .border{
    border: 1px solid #fff;
}

#contentpart .container .part .flex-container{
    flex-direction: column;
    text-align: center;
}

#contentpart .container p{
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-bottom: -25px;
    font-size: 40px;
    font-family: 'Outfit',sans-serif;
    color: var(--font_color);
    line-height: 30px;
    
}

#contentpart .container .intro{
    font-size: 60px;
    line-height: 70px;
    padding: 0 160px;
}


#contentpart .container .selection{
    display: inline-block;
    margin: 25px 35px;
    padding: 40px 0px;
    background: var(--secondary_color);
    color: var(--font_color);
    border-radius: 50px;
    font-size: 22px;
    font-family: 'Outfit',sans-serif;
    font-weight: 400;
}

#contentpart .container .selection span{
    position: relative;
}

#contentpart .container .selection span:after{
    content:'';
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: 0px;
    left: 0px;
}

#contentpart .container .selection:hover .hover::after{
    width: 100%;
    transition: 0.8s;
    background: var(--font_color);
    border-radius: 15px;
}

/*************** footer-part css *****************/

#footer-part{
    margin-top: 50px;
    margin-bottom: 30px;
}

#footer-part .container{
    background: var(--secondary_color);
    text-align: center;
    border-radius: 15px;
}

#footer-part .container .logo a{
    font-size: 25px;
    font-family: 'Outfit',sans-serif;
    color: var(--font_color);
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 22px;
}

#footer-part .container .flex-container{
    justify-content: center;
}

#footer-part .container .flex-container .socials a{
    font-size: 30px;
    margin: 0 10px;
    color:var(--font_color);
}

#footer-part .container .copyright p{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Outfit',sans-serif;
    margin-top: 22px;
    padding-bottom: 22px;
    color: var(--font_color);
    
}

#footer-part .container .copyright a{
    color: var(--font_color);
}



