body{
    background: var(--primary_color);
}

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --primary_color: #230945;
    --secondary_color: #D9D9D9;
    --primary_font: 'Outfit', sans-serif;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

a{
    display: inline-block;
    text-decoration: none;
}

/******** navbar css *********/

#navbar .container{
    margin-top: 20px;
    background: var(--secondary_color);
    border-radius: 15px;
    position: relative;
}

#navbar .container .logo{
    width: 30%;
    text-align: left;
    vertical-align: middle;
    padding: 22px;
}

#navbar .navitem{
    width: 70%;
    text-align: right;
    padding: 25px;
}

#navbar .logo a{
    font-weight: 700;
    color: var(--primary_color);
    font-size: 22px;
    font-family: var(--primary_font);
}

#navbar .navitem .nav{
    position: relative;
}

#navbar .navitem .bar{
    display: none;
}

#navbar .item{
    color: var(--primary_color);
    margin-left: 22px;
    font-size: 19px;
    font-family: var(--primary_font);
    font-weight: 800;
}


#navbar .navitem .nav:after{
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: 0px;
    left: 0px;
    background: var(--primary_color);
}

#navbar .navitem .nav:hover::after{
    width: 100%;
    transition: 0.8s;
    background: var(--primary_color);
}

/*********** option css **********/


.options.active{
    display: none;
}

.options .container{
    background: var(--secondary_color);
    padding: 20px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    transition: height 0.3s ease;
}

.options .container .hover{
    font-family: var(--primary_font);
    color: var(--primary_color);
    font-size: 19px;
    font-weight: 800;
    position: relative;
}

.options .container .hover:after{
    content: '';
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: 0px;
    left: 0px;
    background: var(--primary_color);
}

.options .container .option:hover .hover::after{
    width: 100%;
    transition: 0.8s;
    background: var(--primary_color);
}

/************** location part  *********/

#location-part .container{
    background: var(--secondary_color);
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}

#location-part .container span{
    margin: 0px 5px;
    color: black;
}

#location-part .container p{
    color: var(--primary_color);
    font-family: var(--primary_font);
    font-weight: 700;
    font-size: 15px;
}

#location-part .container a{
    color: var(--primary_color);
    font-family: var(--primary_font);
    font-weight: 700;
    font-size: 15px;
}

/************* topic-part ***********/

#topic-part .flex-container{
    justify-content: space-between;
    flex-wrap: wrap;
}

#topic-part .container .subject{
    width: 100%;
    background: var(--secondary_color);
    border-radius: 15px;
    margin-top: 30px;
}

#topic-part .container p{
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-bottom: -25px;
    font-size: 30px;
    font-family: 'Outfit',sans-serif;
    color: var(--primary_color);
    line-height: 23px;
}

#topic-part .container .subject .flex-container{
    flex-direction: column;
    text-align: center;
}

#topic-part .container p .caie{
    font-size: 19px;
}

#topic-part .container .topic{
    display: inline-block;
    margin: 0px 72px;
    margin-bottom: 25px;
    padding: 23px 0px;
    background: var(--primary_color);
    color: var(--secondary_color);
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Outfit',sans-serif;
    font-weight: 400;
}

#topic-part .container .topic span{
    position: relative;
}

#topic-part .container .topic span:after{
    content:'';
    position: absolute;
    width: 0px;
    height: 3px;
    bottom: 0px;
    left: 0px;
}

#topic-part .container .topic:hover .hover::after{
    width: 100%;
    transition: 0.8s;
    background: var(--secondary_color);
    border-radius: 15px;
}

/************ footer-part css *************/

#footer-part{
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer-part .container{
    background: var(--secondary_color);
    text-align: center;
    border-radius: 15px;
}

#footer-part .container .logo a{
    font-size: 22px;
    font-family: 'Outfit',sans-serif;
    color: var(--primary_color);
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 22px;
}

#footer-part .container .flex-container{
    justify-content: center;
}

#footer-part .container .flex-container .socials a{
    font-size: 35px;
    margin: 0 10px;
    color:var(--primary_color);
}

#footer-part .container .copyright p{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Outfit',sans-serif;
    margin-top: 22px;
    padding-bottom: 22px;
    color: var(--primary_color);
    
}

#footer-part .container .copyright a{
    color: var(--primary_color);
}