/************** location part  *********/
#location-part .container{
    background: var(--secondary_color);
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}

#location-part .container span{
    margin: 0px 5px;
    color: black;
}

#location-part .container p{
    color: var(--primary_color);
    font-family: var(--primary_font);
    font-weight: 700;
    font-size: 15px;
}

#location-part .container a{
    color: var(--primary_color);
    font-family: var(--primary_font);
    font-weight: 700;
    font-size: 15px;
}

/****** content *******/
#contentpart{
    margin-top: 30px;
}

#contentpart .container .content{
    background: var(--secondary_color);
    width: 70%;
    height: 100px;
    border-radius: 15px;
}

#contentpart .container .topic-select{
    width: 28%;
    height: 100px;
    border-radius: 15px;
    background: var(--secondary_color);
}


