body{
    background: #170d2c;
}

#topic{
    margin-top: 20px;
}

#topic .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#topic .container .topic{
    width: 40%;
    margin: 20px;
    text-align: center;
}

#topic .container .topic a{
    margin: 0 auto;
    padding: 20px 0px;
    width: 100%;
    display: inline-block;
    background: #d9d9d9;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    font-family: var(--primary_font);
    color: var(--primary_color);
    font-size: 22px;
}

#topic .container .topic a:hover{
    background: var(--primary_color);
    color: #d9d9d9;
    transition: .5s;
}

